<!DOCTYPE html>
<html>
<head>
  <title>Housefire</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <script>
    $(document).ready(function() {
      $('zomg').ajaxForm({
        success: function(responseText, statusText){
          $('zomg').resetForm();
        }
      });
    });
    var source = new EventSource('/chat.json');
    source.addEventListener('message', function(e) {
      var event = JSON.parse(e.data);
      var chat = document.getElementById('chatroom');
      if(event.from) {
        $(chat).append("<li>" + event.from + " changed names to " + event.to + "</li>");
      } else {
        $(chat).append("<li>" + event.who + " said: " + event.msg + "</li>");
      }
    });
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
