<!DOCTYPE html>
<html>
<head>
  <title>Housefire</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <script>
    var source = new EventSource('/chat.json');
    source.addEventListener('say', function(e) {
      var event = JSON.parse(e.data);
      var chat = document.getElementById('chatroom');
      $(chat).append("<li class='login'>" +
        event.who + " said: " + event.msg + "</li>");
    });

    source.addEventListener('join', function(e) {
      var event = JSON.parse(e.data);
      var chat = document.getElementById('chatroom');
      $(chat).append("<li class='login'>" +
        event.who + " entered the room.</li>");
    });

    source.addEventListener('nick', function(e) {
      var event = JSON.parse(e.data);
      var chat = document.getElementById('chatroom');
      $(chat).append("<li class='nick'>" +
        event.from + " changed names to " + event.to + "</li>");
    });
  </script>

</head>
<body>

<%= yield %>

</body>
</html>
